/* Module */
#breadcrumbs {
	padding: var(--s1);
	margin-bottom: var(--s3);
}
#breadcrumbs {
  --space: 1rem;
  overflow: hidden;
}

#breadcrumbs > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

#breadcrumbs > * > * {
  margin: calc(var(--space) / 2);
}
.breadcrumb {
	font-size: 0.9rem;
}
.breadcrumb .divider {
	margin: 0 5px;
	font-size: 0.8rem;
}
.banner {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.overlay h1 {
	background-color: rgba(92, 92, 92, 0.5);
	padding: var(--s2);
	color: var(--c-main);
	line-height: 3.5rem;
}

.moduletable h2 {
	margin-bottom: var(--s2);
}
.boxed {
	background-color: var(--c-back);
	border-radius: 20px 35px 25px 15px;
	padding: var(--s2);
}
.boxed h3 {
	text-decoration: underline solid var(--c-head) 8px;
	text-decoration-skip-ink: none;
	text-underline-offset: -2px;
	margin-bottom: var(--s1);
}
.boxed:not(:last-child) {
    margin-bottom: var(--s3);
}
.winner h4 {
	margin: var(--s1) 0;
}
.winner-list figcaption {
	padding: var(--s1) 0;
}
.winner .mod-articles-category-writtenby {
	padding: var(--s1) 0;
}
.winner li:not(:last-child) {
	padding-bottom: var(--s2);
	border-bottom: 3px dotted var(--c-head);
}
.winner-list a:hover img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.archiv li::before {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  content: '\f091';
  color: var(--c-head);
  margin-right: var(--s1);
}
.cats ul {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}
.cats ul li {
	flex: 1 1 620px;
	margin: var(--s1);
	padding: var(--s2);
	border-radius: 25px 40px 15px 30px;
} 
.cats ul li:nth-child(1) {
	background-color: var(--c-hint);
} 
.cats ul li:nth-child(2) {
	background-color: var(--c-highlight);
} 
.cats ul li:nth-child(3) {
	background-color: var(--c-primary);
	color: var(--c-main);
} 
.cats ul li:nth-child(4) {
	background-color: var(--c-head);
} 
.cats ul li:nth-child(5) {
	background-color: var(--c-back);
} 
.cats ul li:nth-child(6) {
	background-color: var(--c-tertiary);
	color: var(--c-main);
} 

footer .wrap-inside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
footer .social {
	display: flex;
	color: #fff;
}
footer .social > * {
	padding: var(--s1);
}
footer a {
	color: #fff;
    text-decoration: underline solid var(--c-main) 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
footer .nav a:hover {
	color: var(--c-tertiary);
    text-decoration: underline solid var(--c-tertiary) 1px;
}
footer .nav a:active {
	color: var(--c-tertiary);
    text-decoration: underline solid var(--c-tertiary) 1px;
}
footer .nav a:focus {
	outline: 2px solid var(--c-tertiary);
}
