/* Module */
#breadcrumbs {
	padding: var(--s1);
	margin-bottom: var(--s3);
}
#breadcrumbs {
  --space: 1rem;
  overflow: hidden;
}

#breadcrumbs > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

#breadcrumbs > * > * {
  margin: calc(var(--space) / 2);
}
.breadcrumb {
	font-size: 0.9rem;
}
.breadcrumb .divider {
	margin: 0 5px;
	font-size: 0.8rem;
}
.moduletable h2 {
	margin-bottom: var(--s2);
}
.boxed {
	background-color: var(--c-back);
	border-radius: 20px 35px 25px 15px;
	padding: var(--s2);
}
.boxed h3 {
	margin-bottom: var(--s1);
    border-bottom: 2px dotted var(--c-tertiary);
}
.boxed:not(:last-child) {
    margin-bottom: var(--s3);
}
aside ul.mod-list {
	list-style: disc;
	margin-left: var(--s2);
}
aside .mod-list li a {
	padding: var(--s1) 0;
}
footer .wrap-inside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
footer .social {
	display: flex;
	color: #fff;
}
footer .social > * {
	padding: var(--s1);
}
footer a {
	color: #fff;
    text-decoration: underline solid var(--c-main) 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
footer .nav a:hover {
	color: var(--c-tertiary);
    text-decoration: underline solid var(--c-tertiary) 1px;
}
footer .nav a:active {
	color: var(--c-tertiary);
    text-decoration: underline solid var(--c-tertiary) 1px;
}
footer .nav a:focus {
	outline: 2px solid var(--c-tertiary);
}
