/* Module */
#breadcrumbs {
	padding: var(--s1);
	margin-bottom: var(--s3);
}
#breadcrumbs {
  --space: 1rem;
  overflow: hidden;
}

#breadcrumbs > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

#breadcrumbs > * > * {
  margin: calc(var(--space) / 2);
}
.breadcrumb {
	font-size: 0.9rem;
}
.breadcrumb .divider {
	margin: 0 5px;
	font-size: 0.8rem;
}
.banner {
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.overlay h1 {
	background-color: rgba(92, 92, 92, 0.5);
	padding: var(--s2);
	color: var(--c-main);
	line-height: 3.5rem;
}
.top1 {
	background-color: var(--c-highlight);
	padding: var(--s1) var(--s2);
	display: inline-block;
	box-shadow: 1px 2px 13px 6px rgba(13, 13, 13, 0.15);
	margin-bottom: var(--s2);
}
.top1 h1 {
	color: var(--c-main);
	line-height: 3.5rem;
	text-align: left;
	margin-bottom: 0;
}
.top-flex {
  overflow: hidden;
}
.top-flex > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s4) / 2 * -1);
}
.top-flex > * > * {
  margin: calc(var(--s4) / 2);
  flex-basis: 30%;
  flex-grow: 1;
}
.top-flex > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - var(--s4));
  padding: 0 var(--s4);
}
.top3 {
	text-align: center;
}
.top3 p:nth-child(2) {
	position: relative;
	z-index: 1;
}
.moduletable h2 {
	margin-bottom: var(--s2);
}
.boxed {
	background-color: var(--c-back);
	border-radius: 2em 0.1em 2em 0.1em;
	padding: var(--s2);
}
.boxed h3 {
	margin-bottom: var(--s1);
}
.boxed:not(:last-child) {
    margin-bottom: var(--s3);
}
.winner h4 {
	margin: var(--s1) 0;
}
.winner-list figcaption {
	padding: var(--s1) 0;
}
.winner .mod-articles-category-writtenby {
	padding: var(--s1) 0;
}
.winner li:not(:last-child) {
	padding-bottom: var(--s2);
	border-bottom: 3px dotted var(--c-head);
}
.winner-list a:hover img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

ul.winner-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin: 1rem 0;
}
.winner-gallery li {
	text-align: center;
}
.winner-gallery img {
	transition: all 0.5s;
}
.winner-gallery img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.winner-cat {
	background-color: var(--c-grey);
	padding: var(--s1);
	color: var(--c-main);
}
.winner-gallery li:nth-child(2) .winner-cat {
	background-color: var(--c-head);
}
.winner-gallery li:nth-child(3) .winner-cat {
	background-color: var(--c-highlight);
}
.winner-gallery li:nth-child(4) .winner-cat {
	background-color: var(--c-grey);
}
.winner-gallery li:nth-child(5) .winner-cat {
	background-color: var(--c-hint);
}
.winner-gallery li:nth-child(6) .winner-cat {
	background-color: var(--c-tertiary);
}

.archiv li::before {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  content: '\f091';
  color: var(--c-head);
  margin-right: var(--s1);
}
.cats ul {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}
.cats ul li {
	flex: 1 1 420px;
	margin: var(--s1);
	padding: var(--s2);
	position: relative;
} 
.cats ul li:nth-child(1) h4 {
	color: var(--c-hint);
} 
.cats ul li:nth-child(2) h4 {
	color: var(--c-highlight);
} 
.cats ul li:nth-child(6) h4 {
	color: var(--c-primary);
} 
.cats ul li:nth-child(4) h4 {
	color: var(--c-head);
} 
.cats ul li:nth-child(5) h4 {
	color: var(--c-grey);
} 
.cats ul li:nth-child(3) h4 {
	color: var(--c-tertiary);
}
.cats ul li:nth-child(1):before {
	background-image:url(../img/green.svg);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:70px;
	height:70px;
	position:absolute;
	top:-32px;
	left:-20px;
} 
.cats ul li:before {
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:70px;
	height:70px;
	position:absolute;
	top:-25px;
	left:-20px;
} 
.cats ul li:nth-child(2):before {
	background-image:url(../img/orange.svg);
} 
.cats ul li:nth-child(3):before {
	background-image:url(../img/red.svg);
} 
.cats ul li:nth-child(4):before {
	background-image:url(../img/blue.svg);
} 
.cats ul li:nth-child(5):before {
	background-image:url(../img/grey.svg);
} 
.cats ul li:nth-child(6):before {
	background-image:url(../img/black.svg);
} 

#bottom-a .banner {
	height: 400px;
	align-items: center;
}
#bottom-a .wrap-inside {
  overflow: hidden;
}
#bottom-a .wrap-inside > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s4) / 2 * -1);
}
#bottom-a .wrap-inside > * > * {
  margin: calc(var(--s4) / 2);
  flex-basis: 30%;
  flex-grow: 1;
}
#bottom-a .wrap-inside > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - var(--s4));
}
#bottom-a .wrap-inside > * > :first-child p {
	margin-bottom: var(--s2);
}
#bottom-a .custom div:nth-child(2) p:nth-child(2) {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-top: var(--s4);
}

footer .wrap-inside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
footer .social {
	display: flex;
	color: #fff;
}
footer .social > * {
	padding: var(--s1);
}
footer a {
	color: #fff;
    text-decoration: underline;
}
footer .nav a:hover, footer a:hover {
	color: var(--c-tertiary);
}
footer .nav a:active {
	color: var(--c-tertiary);
}
footer .nav a:focus {
	outline: 2px solid var(--c-tertiary);
}
