/* Variables */
:root {
	--c-main: #ffffff; /* white */
	--c-bg: #f9f9f9;
	--c-primary: #292929; /* dark blue */
	--c-secondary: #90b4ce; /* gray blue */
	--c-tertiary: #f44321; /* red */
	--c-head: #5091cd; /* blue */
	--c-back: #d8eefe; /* light blue */
	--c-highlight: #f9a541; /* yellow */
	--c-hint: #7ac143; /* green */
	--c-grey: #878787;
	
	--s1: 1ch;
	--s2: 2ch;
	--s3: 3ch;
	--s4: 4ch;
	--s5: 5ch;
	--s6: 6ch;

	--card-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
	--card-shadow-hover: 0 1px 4px 0 rgba(12, 12, 13, 0.3);
}
